In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import glob
import re
import ast
import numpy as np
from IPython.display import display, HTML

glob.glob("*.csv")

['boa_db_get_uw_rebate_counts.csv',
 'mail.csv',
 'mail_mchoice_proposed.csv',
 'retail30.csv',
 'retail30_retailSrx_proposed.csv',
 'retail90_proposed.csv',
 'speciality.csv',
 'speciality_proposed.csv',
 'SRX_retail_proposed.csv']

In [2]:
db_values_df = pd.read_csv("boa_db_get_uw_rebate_counts.csv")
db_values_df

    proj_year tier  channel_group            GPO           MAF  claim_counts
0           0  2TQ           Mail   54869.409357   3686.540146      53.26895
1           0  2TQ      Retail 30  490414.650863  35156.185224    1501.10033
2           0  2TQ      Retail 90    6293.537493    392.506474       0.00000
3           0  2TQ      Specialty  100918.195400  16850.398379      56.40885
4           0  2TQ  SRx at retail   24170.885502  13717.553114       9.73797
5           0  3TQ           Mail  113191.479257   9541.243442     162.27497
6           1  2TQ           Mail   54869.409357   3686.540146      53.26895
7           1  2TQ      Retail 30  490414.650863  35156.185224    1501.10033
8           1  2TQ      Retail 90    6293.537493    392.506474      15.30583
9           1  2TQ      Specialty  100918.195400  16850.398379      56.40885
10          1  2TQ  SRx at retail   24170.885502  13717.553114       9.73797
11          1  3TQ           Mail  113191.479257   9541.243442     162.27497
12          2  2TQ           Mail   66056.714173   4208.225582      56.06618
13          2  2TQ      Retail 30  566822.629822  39790.623754    1551.75086
14          2  2TQ      Retail 90    7011.151888    428.554551      15.57715
15          2  2TQ      Specialty  116814.390618  19096.520055      60.43781
16          2  2TQ  SRx at retail   28203.911621  15544.728188      10.22497
17          2  3TQ           Mail  118605.599062  10117.275609     165.02974
18          3  2TQ           Mail   73781.570681   4451.753336      55.87140
19          3  2TQ      Retail 30  583153.262168  39442.646856    1419.14263
20          3  2TQ      Retail 90    7818.220999    468.028333      15.85783
21          3  2TQ      Specialty  134195.252363  18486.259411      64.93854
22          3  2TQ  SRx at retail   26659.808348  12416.532632      10.73610
23          3  3TQ           Mail   89533.567996   7992.681487     133.14706

In [3]:
mail = pd.read_csv("mail.csv")
mail

  Unnamed: 0    Mail Unnamed: 2 Mchoice Unnamed: 4
0       Tier  Year 0    Current  Year 0    Current
1   2 Tier Q  634.62     634.62  634.62     634.62
2  3 Tier NQ  634.62     634.62  634.62     634.62
3   3 Tier Q  708.85     708.85  708.85     708.85
4     Closed       0          0       0          0

In [4]:
mail_mchoice_proposed = pd.read_csv("mail_mchoice_proposed.csv")
mail_mchoice_proposed

,Tier,Year 1 - 01/2025,Unnamed: 2,Year 2 - 01/2026,Unnamed: 4,Year 3 - 01/2027,Unnamed: 6
0,2 Tier Q,57.73,634.62,50.63,634.62,45.31,634.62
1,3 Tier NQ,0.00,634.62,0.00,634.62,0.00,634.62
2,3 Tier Q,93.73,708.85,90.88,708.85,96.78,708.85
3,Closed,0.00,0.00,0.00,0.00,0.00,0.00
4,Blended,82.10,690.51,76.67,690.03,73.87,686.91

In [5]:
retail30 = pd.read_csv("retail30.csv")
retail30

  Unnamed: 0 Retail 30 Unnamed: 2 Retail SRx Unnamed: 4
0       Tier    Year 0    Current     Year 0    Current
1   2 Tier Q    171.12     171.12     171.12     171.12
2  3 Tier NQ    171.12     171.12     171.12     171.12
3   3 Tier Q    264.32     264.32     264.32     264.32
4     Closed         0          0          0          0

In [6]:
retail30_retailSrx_proposed = pd.read_csv("retail30_retailSrx_proposed.csv")
retail30_retailSrx_proposed

,Tier,Year 1 - 01/2025,Unnamed: 2,Year 2 - 01/2026,Unnamed: 4,Year 3 - 01/2027,Unnamed: 6
0,2 Tier Q,45.88,171.12,41.1,171.12,36.98,171.12
1,3 Tier NQ,0.00,171.12,0.0,171.12,0.00,171.12
2,3 Tier Q,0.00,264.32,0.0,264.32,0.00,264.32
3,Closed,0.00,0.00,0.0,0.00,0.00,0.00
4,Blended,45.88,171.12,41.1,171.12,36.98,171.12

In [7]:
retail90_proposed = pd.read_csv("retail90_proposed.csv")
retail90_proposed

,Tier,Year 1 - 01/2025,Unnamed: 2,Year 2 - 01/2026,Unnamed: 4,Year 3 - 01/2027,Unnamed: 6
0,2 Tier Q,0,0,0,0,0,0
1,3 Tier NQ,0,0,0,0,0,0
2,3 Tier Q,0,0,0,0,0,0
3,Closed,0,0,0,0,0,0
4,Blended,0,0,0,0,0,0

In [8]:
speciality = pd.read_csv("speciality.csv")
speciality

  Unnamed: 0 Specialty Unnamed: 2
0       Tier    Year 0    Current
1   2 Tier Q      2781       2781
2  3 Tier NQ      2781       2781
3   3 Tier Q      2781       2781
4     Closed         0          0

In [9]:
speciality_proposed = pd.read_csv("speciality_proposed.csv")
speciality_proposed

,Tier,Year 1 - 01/2025,Unnamed: 2,Year 2 - 01/2026,Unnamed: 4,Year 3 - 01/2027,Unnamed: 6
0,2 Tier Q,133.25,2781,123.69,2781,118.25,2781
1,3 Tier NQ,0.00,2781,0.00,2781,0.00,2781
2,3 Tier Q,0.00,2781,0.00,2781,0.00,2781
3,Closed,0.00,2781,0.00,2781,0.00,2781
4,Blended,133.25,2781,123.69,2781,118.25,2781

In [10]:
def return_claims(db_values):
    data = db_values.copy()
    data['key'] = data['channel_group'].str.replace(" ", "", regex=False)
    data['key'] = data['key'] + "_" + data['tier'] + "_"+data['proj_year'].astype(str)
    data.columns = ['proj_year', 'tier', 'channel_group', 'sum(GPO)', 'sum(MAF)', 'sum(claim_counts)', 'key']
    return data

In [11]:
def get_db_values():
    
    retail30_proposed = pd.read_csv("retail30_retailSrx_proposed.csv")
    retail90_proposed = pd.read_csv("retail90_proposed.csv")
    mail_mchoice_proposed = pd.read_csv("mail_mchoice_proposed.csv")
    SRX_retail_proposed = pd.read_csv("SRX_retail_proposed.csv")
    speciality_proposed = pd.read_csv("speciality_proposed.csv")

    all_dfs_keys = [retail30_proposed, retail90_proposed, mail_mchoice_proposed, SRX_retail_proposed, speciality_proposed]
    all_dfs_values = ["Retail30", "Retail90", "Mail_Mchoice", "RetailSRX", "Specialty"]
    
    final_db_values = {}
    
    for i in range(len(all_dfs_keys)):
        all_dfs_keys[i]['Tier'] = ['2TQ', '3TNQ', '3TQ', 'Closed', 'Blended']
        result_dict_1 = dict(zip(all_dfs_values[i]+"_"+all_dfs_keys[i]['Tier']+"_1", all_dfs_keys[i]['Unnamed: 2']))
        result_dict_2 = dict(zip(all_dfs_values[i]+"_"+all_dfs_keys[i]['Tier']+"_2", all_dfs_keys[i]['Unnamed: 4']))
        result_dict_3 = dict(zip(all_dfs_values[i]+"_"+all_dfs_keys[i]['Tier']+"_3", all_dfs_keys[i]['Unnamed: 6']))
        
        combined_dict = {**result_dict_1, **result_dict_2, **result_dict_3}
        
        final_db_values = {**final_db_values, **combined_dict}
        
    return final_db_values

In [12]:
def retrieveUIValues(final_db_values, tier, year):
    try:
        two_tq_ret_30_year_1 = float(final_db_values["Retail30_"+tier+"_1"])
        two_tq_ret_30_year_2 = float(final_db_values["Retail30_"+tier+"_2"])
        two_tq_ret_30_year_3 = float(final_db_values["Retail30_"+tier+"_3"])
    except Exception as e:
        print("Retail30_",e)
        two_tq_ret_30_year_1 = 0.0
        two_tq_ret_30_year_2 = 0.0
        two_tq_ret_30_year_3 = 0.0

    try:
        two_tq_ret_90_year_1 = float(final_db_values["Retail90_"+tier+"_1"])
        two_tq_ret_90_year_2 = float(final_db_values["Retail90_"+tier+"_2"])
        two_tq_ret_90_year_3 = float(final_db_values["Retail90_"+tier+"_3"])
    except Exception as e:
        print("Retail90_",e)
        two_tq_ret_90_year_1 = 0.0
        two_tq_ret_90_year_2 = 0.0
        two_tq_ret_90_year_3 = 0.0

    try:
        two_tq_RetailSRX_year_1 = float(final_db_values["RetailSRX_"+tier+"_1"])
        two_tq_RetailSRX_year_2 = float(final_db_values["RetailSRX_"+tier+"_2"])
        two_tq_RetailSRX_year_3 = float(final_db_values["RetailSRX_"+tier+"_3"])
    except Exception as e:
        print("RetailSRX_",e)
        two_tq_RetailSRX_year_1 = 0.0
        two_tq_RetailSRX_year_2 = 0.0
        two_tq_RetailSRX_year_3 = 0.0
        
    try:
        two_tq_Mail_Mchoice_year_1 = float(final_db_values["Mail_Mchoice_"+tier+"_1"])
        two_tq_Mail_Mchoice_year_2 = float(final_db_values["Mail_Mchoice_"+tier+"_2"])
        two_tq_Mail_Mchoice_year_3 = float(final_db_values["Mail_Mchoice_"+tier+"_3"])
    except Exception as e:
        print("Mail_Mchoice_",e)
        two_tq_Mail_Mchoice_year_1 = 0.0
        two_tq_Mail_Mchoice_year_2 = 0.0
        two_tq_Mail_Mchoice_year_3 = 0.0
        
    try:
        two_tq_Specialty_year_1 = float(final_db_values["Specialty_"+tier+"_1"])
        two_tq_Specialty_year_2 = float(final_db_values["Specialty_"+tier+"_2"])
        two_tq_Specialty_year_3 = float(final_db_values["Specialty_"+tier+"_3"])
    except Exception as e:
        print("Specialty_",e)
        two_tq_Specialty_year_1 = 0.0
        two_tq_Specialty_year_2 = 0.0
        two_tq_Specialty_year_3 = 0.0
                
    return two_tq_ret_30_year_1, two_tq_ret_30_year_2, two_tq_ret_30_year_3,\
           two_tq_ret_90_year_1, two_tq_ret_90_year_2, two_tq_ret_90_year_3,\
           two_tq_RetailSRX_year_1, two_tq_RetailSRX_year_2, two_tq_RetailSRX_year_3,\
           two_tq_Mail_Mchoice_year_1, two_tq_Mail_Mchoice_year_2, two_tq_Mail_Mchoice_year_3,\
           two_tq_Specialty_year_1, two_tq_Specialty_year_2, two_tq_Specialty_year_3

In [16]:
def retrieveEarnedGPO_and_MAF(db_values_df, year="1"):
    "ok"
    r = db_values_df.copy()
    r['proj_year'] = r['proj_year'].astype(str)
    r = r[r['proj_year'] == year]  
    print(r)
    
    two_t_q = r[r['tier'].str.contains("2TQ")] 
    if two_t_q.shape[0] == 0:
        two_t_q_gpo = [0.0, 0.0, 0.0, 0.0, 0.0]
        two_t_q_maf = [0.0, 0.0, 0.0, 0.0, 0.0]
    else:
        two_t_q_gpo_ret_30 = float(two_t_q[two_t_q['channel_group'] == "Retail 30"]['sum(GPO)'].values[0])
        two_t_q_maf_ret_30 = float(two_t_q[two_t_q['channel_group'] == "Retail 30"]['sum(MAF)'].values[0])
        
        try:
            two_t_q_gpo_ret_90 = float(two_t_q[two_t_q['channel_group'] == "Retail 90"]['sum(GPO)'].values[0])
            two_t_q_maf_ret_90 = float(two_t_q[two_t_q['channel_group'] == "Retail 90"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            two_t_q_gpo_ret_90 = 0.0
            two_t_q_maf_ret_90 = 0.0
        
        try:
            two_t_q_gpo_srx_ret = float(two_t_q[two_t_q['channel_group'] == "SRx at retail"]['sum(GPO)'].values[0])
            two_t_q_maf_srx_ret = float(two_t_q[two_t_q['channel_group'] == "SRx at retail"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            two_t_q_gpo_srx_ret = 0.0
            two_t_q_maf_srx_ret = 0.0
            
        try:
            two_t_q_gpo_mail = float(two_t_q[two_t_q['channel_group'] == "Mail"]['sum(GPO)'].values[0])
            two_t_q_maf_mail = float(two_t_q[two_t_q['channel_group'] == "Mail"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            two_t_q_gpo_mail = 0.0
            two_t_q_maf_mail = 0.0
            
        try:
            two_t_q_gpo_Specialty = float(two_t_q[two_t_q['channel_group'] == "Specialty"]['sum(GPO)'].values[0])
            two_t_q_maf_Specialty = float(two_t_q[two_t_q['channel_group'] == "Specialty"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            two_t_q_gpo_Specialty = 0.0
            two_t_q_maf_Specialty = 0.0
        
        two_t_q_gpo = [two_t_q_gpo_ret_30, two_t_q_gpo_ret_90, two_t_q_gpo_srx_ret, two_t_q_gpo_mail, two_t_q_gpo_Specialty]
        two_t_q_maf = [two_t_q_maf_ret_30, two_t_q_maf_ret_90, two_t_q_maf_srx_ret, two_t_q_maf_mail, two_t_q_maf_Specialty]
        
    two_t_q = r[r['tier'].str.contains("3TQ")] 
    
    if two_t_q.shape[0] == 0:
        three_t_q_gpo = [0.0, 0.0, 0.0, 0.0, 0.0]
        three_t_q_maf = [0.0, 0.0, 0.0, 0.0, 0.0]
    else:

        try:
            three_t_q_gpo_ret_30 = float(two_t_q[two_t_q['channel_group'] == "Retail 30"]['sum(GPO)'].values[0])
            three_t_q_maf_ret_30 = float(two_t_q[two_t_q['channel_group'] == "Retail 30"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            three_t_q_gpo_ret_30 = 0.0
            three_t_q_maf_ret_30 = 0.0
        try:
            three_t_q_gpo_ret_90 = float(two_t_q[two_t_q['channel_group'] == "Retail 90"]['sum(GPO)'].values[0])
            three_t_q_maf_ret_90 = float(two_t_q[two_t_q['channel_group'] == "Retail 90"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            three_t_q_gpo_ret_90 = 0.0
            three_t_q_maf_ret_90 = 0.0
            
        try:
            three_t_q_gpo_srx_ret = float(two_t_q[two_t_q['channel_group'] == "SRx at retail"]['sum(GPO)'].values[0])
            three_t_q_maf_srx_ret = float(two_t_q[two_t_q['channel_group'] == "SRx at retail"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            three_t_q_gpo_srx_ret = 0.0
            three_t_q_maf_srx_ret = 0.0
            
        try:
            three_t_q_gpo_mail = float(two_t_q[two_t_q['channel_group'] == "Mail"]['sum(GPO)'].values[0])
            three_t_q_maf_mail = float(two_t_q[two_t_q['channel_group'] == "Mail"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            three_t_q_gpo_mail = 0.0
            three_t_q_maf_mail = 0.0
        
        try:
            three_t_q_gpo_Specialty = float(two_t_q[two_t_q['channel_group'] == "Specialty"]['sum(GPO)'].values[0])
            three_t_q_maf_Specialty = float(two_t_q[two_t_q['channel_group'] == "Specialty"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            three_t_q_gpo_Specialty = 0.0
            three_t_q_maf_Specialty = 0.0
            
        three_t_q_gpo = [three_t_q_gpo_ret_30, three_t_q_gpo_ret_90, three_t_q_gpo_srx_ret, three_t_q_gpo_mail, three_t_q_gpo_Specialty]
        three_t_q_maf = [three_t_q_maf_ret_30, three_t_q_maf_ret_90, three_t_q_maf_srx_ret, three_t_q_maf_mail, three_t_q_maf_Specialty]
        
    two_t_q = r[r['tier'].str.contains("3TNQ")] 
    
    if two_t_q.shape[0] == 0:
        three_t_n_q_gpo = [0.0, 0.0, 0.0, 0.0, 0.0]
        three_t_n_q_maf = [0.0, 0.0, 0.0, 0.0, 0.0]
    else:
        three_t_n_q_gpo_ret_30 = float(two_t_q[two_t_q['channel_group'] == "Retail 30"]['sum(GPO)'].values[0])
        three_t_n_q_maf_ret_30 = float(two_t_q[two_t_q['channel_group'] == "Retail 30"]['sum(MAF)'].values[0])
        
        try:
            three_t_n_q_gpo_ret_90 = float(two_t_q[two_t_q['channel_group'] == "Retail 90"]['sum(GPO)'].values[0])
            three_t_n_q_maf_ret_90 = float(two_t_q[two_t_q['channel_group'] == "Retail 90"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            three_t_n_q_gpo_ret_90 = 0.0
            three_t_n_q_maf_ret_90 = 0.0
        
        try:
            three_t_n_q_gpo_srx_ret = float(two_t_q[two_t_q['channel_group'] == "SRx at retail"]['sum(GPO)'].values[0])
            three_t_n_q_maf_srx_ret = float(two_t_q[two_t_q['channel_group'] == "SRx at retail"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            three_t_n_q_gpo_srx_ret = 0.0
            three_t_n_q_maf_srx_ret = 0.0
        
        try:
            three_t_n_q_gpo_mail = float(two_t_q[two_t_q['channel_group'] == "Mail"]['sum(GPO)'].values[0])
            three_t_n_q_maf_mail = float(two_t_q[two_t_q['channel_group'] == "Mail"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            three_t_n_q_gpo_mail = 0.0
            three_t_n_q_maf_mail = 0.0
            
        try:
            three_t_n_q_gpo_Specialty = float(two_t_q[two_t_q['channel_group'] == "Specialty"]['sum(GPO)'].values[0])
            three_t_n_q_maf_Specialty = float(two_t_q[two_t_q['channel_group'] == "Specialty"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            three_t_n_q_gpo_Specialty = 0.0
            three_t_n_q_maf_Specialty = 0.0
            
        three_t_n_q_gpo = [three_t_n_q_gpo_ret_30, three_t_n_q_gpo_ret_90, three_t_n_q_gpo_srx_ret, three_t_n_q_gpo_mail, three_t_n_q_gpo_Specialty]
        three_t_n_q_maf = [three_t_n_q_maf_ret_30, three_t_n_q_maf_ret_90, three_t_n_q_maf_srx_ret, three_t_n_q_maf_mail, three_t_n_q_maf_Specialty]
        
        
    two_t_q = r[r['tier'].str.contains("Closed")] 
    if two_t_q.shape[0] == 0:
        closed_gpo = [0.0, 0.0, 0.0, 0.0, 0.0]
        closed_maf = [0.0, 0.0, 0.0, 0.0, 0.0]
    else:
        closed_gpo_ret_30 = float(two_t_q[two_t_q['channel_group'] == "Retail 30"]['sum(GPO)'].values[0])
        closed_maf_ret_30 = float(two_t_q[two_t_q['channel_group'] == "Retail 30"]['sum(MAF)'].values[0])
        
        try:
            closed_gpo_ret_90 = float(two_t_q[two_t_q['channel_group'] == "Retail 90"]['sum(GPO)'].values[0])
            closed_maf_ret_90 = float(two_t_q[two_t_q['channel_group'] == "Retail 90"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            closed_gpo_ret_90 = 0.0
            closed_maf_ret_90 = 0.0
            
        try:
            closed_gpo_srx_ret = float(two_t_q[two_t_q['channel_group'] == "SRx at retail"]['sum(GPO)'].values[0])
            closed_maf_srx_ret = float(two_t_q[two_t_q['channel_group'] == "SRx at retail"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            closed_gpo_srx_ret = 0.0
            closed_maf_srx_ret = 0.0
        
        try:
            closed_gpo_mail = float(two_t_q[two_t_q['channel_group'] == "Mail"]['sum(GPO)'].values[0])
            closed_maf_mail = float(two_t_q[two_t_q['channel_group'] == "Mail"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            closed_gpo_mail = 0.0
            closed_maf_mail = 0.0
        
        try:
            closed_gpo_Specialty = float(two_t_q[two_t_q['channel_group'] == "Specialty"]['sum(GPO)'].values[0])
            closed_maf_Specialty = float(two_t_q[two_t_q['channel_group'] == "Specialty"]['sum(MAF)'].values[0])
        except Exception as e:
            print(e)
            closed_gpo_Specialty = 0.0
            closed_maf_Specialty = 0.0
        
        closed_gpo = [closed_gpo_ret_30, closed_gpo_ret_90, closed_gpo_srx_ret, closed_gpo_mail, closed_gpo_Specialty]
        closed_maf = [closed_maf_ret_30, closed_maf_ret_90, closed_maf_srx_ret, closed_maf_mail, closed_maf_Specialty]
    
    return two_t_q_gpo, two_t_q_maf, three_t_q_gpo, three_t_q_maf, three_t_n_q_gpo, three_t_n_q_maf, closed_gpo, closed_maf

In [17]:
from openpyxl import load_workbook

# proposed values
db_values = get_db_values()

# get claim count from boa_db_get_uw_rebate_counts
claims = return_claims(db_values_df)

which_test_case = "Split_Min_G_tee_GPO_MAF_Rebateable_Brand_In_Aggregate"

# Load the workbook
wb = load_workbook('main_verification_sheet.xlsx')

for year in ["1", "2", "3"]:
    
    # proposed values
    two_t_q_ui = retrieveUIValues(db_values, "2TQ", year)
    three_t_n_q_ui = retrieveUIValues(db_values, "3TNQ", year)
    three_t_q_ui = retrieveUIValues(db_values, "3TQ", year)
    closed_ui = retrieveUIValues(db_values, "Closed", year)
    
    print("Working for sheet year "+year)
    
    # got these values
    two_t_q_gpo, two_t_q_maf, three_t_q_gpo, three_t_q_maf, three_t_n_q_gpo, three_t_n_q_maf, closed_gpo, closed_maf = retrieveEarnedGPO_and_MAF(claims, year=year)
    no = ["Retail90_2TQ_"+year, "Retail90_3TNQ_"+year, "Retail90_3TQ_"+year, "Retail90_Closed_"+year]
    for val in no:
        if val not in db_values:
            db_values.update({val : 0})
            
    # Select the sheet
    ws = wb['Year '+year]

    print(
    )

    c_ui = None
    if "_GPO_MAF_" in which_test_case:
        if "Rebateable_All_Rx" in which_test_case:
            print("Columns V & J")
            c_ui = "V"
            db_col = "J"
                          
        elif "All_Rx" in which_test_case:
            print("Columns T & H")
            c_ui = "T"
            db_col = "H"
        
        elif "Rebateable_Brand" in which_test_case:
            print("Columns W & K")
            c_ui = "W"
            db_col = "K"
        
        elif "Brand" in which_test_case:
            print("Columns U & I")
            c_ui = "U"
            db_col = "I"
        
    elif "_GPO_" in which_test_case:
        if "Rebateable_All_Rx" in which_test_case:
            print("Columns N & J")
            c_ui = "N"
            db_col = "J"
        
        elif "All_Rx" in which_test_case:
            print("Columns L & H")
            c_ui = "L"
            db_col = "H"
        
        elif "Rebateable_Brand" in which_test_case:
            print("Columns O & K")
            c_ui = "O"
            db_col = "K"
        
        elif "Brand" in which_test_case:
            print("Columns M & I")
            c_ui = "M"
            db_col = "I"
        
    else:
        print("Do something else")


    if c_ui is not None: 
        loc = int(year)-1
        ws[c_ui+'8'], ws[c_ui+'9'], ws[c_ui+'10'], ws[c_ui+'11'], ws[c_ui+'12'] = two_t_q_ui[loc], two_t_q_ui[loc+3], two_t_q_ui[loc+6], two_t_q_ui[loc+9], two_t_q_ui[loc+12]
        ws[c_ui+'18'], ws[c_ui+'19'], ws[c_ui+'20'], ws[c_ui+'21'], ws[c_ui+'22'] = three_t_n_q_ui[loc], three_t_n_q_ui[loc+3], three_t_n_q_ui[loc+6], three_t_n_q_ui[9], three_t_n_q_ui[loc+12]
        ws[c_ui+'28'], ws[c_ui+'29'], ws[c_ui+'30'], ws[c_ui+'31'], ws[c_ui+'32'] = three_t_q_ui[loc], three_t_q_ui[loc+3], three_t_q_ui[loc+6], three_t_q_ui[loc+9], three_t_q_ui[loc+12]
        ws[c_ui+'38'], ws[c_ui+'39'], ws[c_ui+'40'], ws[c_ui+'41'], ws[c_ui+'42'] = closed_ui[loc], closed_ui[loc+3], closed_ui[loc+6], closed_ui[loc+9], closed_ui[loc+12]



    try:
        ws[db_col+'8'] = round(float(claims[claims['key'] == 'Retail30_2TQ_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'8'] = 0
    try:
        ws[db_col+'9'] = round(float(claims[claims['key'] == 'Retail90_2TQ_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'9'] = 0
    try:
        ws[db_col+'10'] = round(float(claims[claims['key'] == 'SRxatretail_2TQ_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'10'] = 0
    try:
        ws[db_col+'11'] = round(float(claims[claims['key'] == 'Mail_2TQ_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'11'] = 0
    try:
        ws[db_col+'12'] = round(float(claims[claims['key'] == 'Specialty_2TQ_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'12'] = 0
    
    

    try:
        ws[db_col+'18'] = round(float(claims[claims['key'] == 'Retail30_3TNQ_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'18'] = 0
    try:
        ws[db_col+'19'] = round(float(claims[claims['key'] == 'Retail90_3TNQ_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'19'] = 0
    try:
        ws[db_col+'20'] = round(float(claims[claims['key'] == 'SRxatretail_3TNQ_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'20'] = 0
    try:
        ws[db_col+'21'] = round(float(claims[claims['key'] == 'Mail_3TNQ_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'21'] = 0
    try:
        ws[db_col+'22'] = round(float(claims[claims['key'] == 'Specialty_3TNQ_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'22'] = 0


    try:
        ws[db_col+'28'] = round(float(claims[claims['key'] == 'Retail30_3TQ_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'28'] = 0
    try:
        ws[db_col+'29'] = round(float(claims[claims['key'] == 'Retail90_3TQ_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'29'] = 0
    try:
        ws[db_col+'30'] = round(float(claims[claims['key'] == 'SRxatretail_3TQ_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'30'] = 0
    try:
        ws[db_col+'31'] = round(float(claims[claims['key'] == 'Mail_3TQ_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'31'] = 0
    try:
        ws[db_col+'32'] = round(float(claims[claims['key'] == 'Specialty_3TQ_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'32'] = 0
    

    try:
        ws[db_col+'38'] = round(float(claims[claims['key'] == 'Retail30_Closed_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'38'] = 0
    try:
        ws[db_col+'39'] = round(float(claims[claims['key'] == 'Retail90_Closed_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'39'] = 0
    try:
        ws[db_col+'40'] = round(float(claims[claims['key'] == 'SRxatretail_Closed_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'40'] = 0
    try:
        ws[db_col+'41'] = round(float(claims[claims['key'] == 'Mail_Closed_'+year]['sum(claim_counts)'].values[0]))
    except:
        ws[db_col+'41'] = 0
    try:
        ws[db_col+'42'] = round(float(claims[claims['key'] == 'Specialty_Closed_'+year]['sum(claim_counts)'].values[0]))   
    except:
        ws[db_col+'42'] = 0


    ws['F8'], ws['F9'], ws['F10'], ws['F11'], ws['F12'] = two_t_q_gpo
    ws['G8'], ws['G9'], ws['G10'], ws['G11'], ws['G12'] = two_t_q_maf
    
    ws['F18'], ws['F19'], ws['F20'], ws['F21'], ws['F22'] = three_t_n_q_gpo
    ws['G18'], ws['G19'], ws['G20'], ws['G21'], ws['G22'] = three_t_n_q_maf
    
    ws['F28'], ws['F29'], ws['F30'], ws['F31'], ws['F32'] = three_t_q_gpo
    ws['G28'], ws['G29'], ws['G30'], ws['G31'], ws['G32'] = three_t_q_maf
    
    ws['F38'], ws['F39'], ws['F40'], ws['F41'], ws['F42'] = closed_gpo
    ws['G38'], ws['G39'], ws['G40'], ws['G41'], ws['G42'] = closed_maf
    
    result_file = which_test_case+'_results.xlsx'
    wb.save(result_file)

Working for sheet year 1
   proj_year tier  channel_group       sum(GPO)      sum(MAF)  \
6          1  2TQ           Mail   54869.409357   3686.540146
7          1  2TQ      Retail 30  490414.650863  35156.185224
8          1  2TQ      Retail 90    6293.537493    392.506474
9          1  2TQ      Specialty  100918.195400  16850.398379
10         1  2TQ  SRx at retail   24170.885502  13717.553114
11         1  3TQ           Mail  113191.479257   9541.243442

    sum(claim_counts)                key
6            53.26895         Mail_2TQ_1
7          1501.10033     Retail30_2TQ_1
8            15.30583     Retail90_2TQ_1
9            56.40885    Specialty_2TQ_1
10            9.73797  SRxatretail_2TQ_1
11          162.27497         Mail_3TQ_1
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0

Columns W & K
Working for sheet year 2
   proj_year tier  channel_group       sum(GPO)      sum(MAF)  \
12         2  2TQ           Mail   66056.714173   4208.225582
13         2  2TQ      Retail 30  566822.629822  39790.623754
14         2  2TQ      Retail 90    7011.151888    428.554551
15         2  2TQ      Specialty  116814.390618  19096.520055
16         2  2TQ  SRx at retail   28203.911621  15544.728188
17         2  3TQ           Mail  118605.599062  10117.275609

    sum(claim_counts)                key
12           56.06618         Mail_2TQ_2
13         1551.75086     Retail30_2TQ_2
14           15.57715     Retail90_2TQ_2
15           60.43781    Specialty_2TQ_2
16           10.22497  SRxatretail_2TQ_2
17          165.02974         Mail_3TQ_2
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0

Columns W & K
Working for sheet year 3
   proj_year tier  channel_group       sum(GPO)      sum(MAF)  \
18         3  2TQ           Mail   73781.570681   4451.753336
19         3  2TQ      Retail 30  583153.262168  39442.646856
20         3  2TQ      Retail 90    7818.220999    468.028333
21         3  2TQ      Specialty  134195.252363  18486.259411
22         3  2TQ  SRx at retail   26659.808348  12416.532632
23         3  3TQ           Mail   89533.567996   7992.681487

    sum(claim_counts)                key
18           55.87140         Mail_2TQ_3
19         1419.14263     Retail30_2TQ_3
20           15.85783     Retail90_2TQ_3
21           64.93854    Specialty_2TQ_3
22           10.73610  SRxatretail_2TQ_3
23          133.14706         Mail_3TQ_3
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0

Columns W & K